# Environnement virtuel
venv/
.venv/
env/


# Base de données
*.db
*.sqlite
.env

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# IDE (VS Code / Mac)
.vscode/
.DS_Store

# Tests & Couverture
.pytest_cache/
.coverage
htmlcov/